.1_2 { 
	overflow:hidden;
}.e1_2 { 
	background-color:rgba(244.0000006556511, 245.00000059604645, 247.00000047683716, 1);
	width:1728px;
	height:1117px;
	position:absolute;
}.e15_73 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(0, 0, 0, 0.20000000298023224);
	width:1748px;
	height:1020px;
	position:absolute;
	left:-10px;
	top:109px;
}.e111_6 { 
	width:1818px;
	height:1350px;
	position:absolute;
	left:-55px;
	top:-48px;
	background-image:url(images/67589995_2882677588416232_8300656261007933440_n_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.102_212 { 
	border:2.0529532432556152px solid rgba(196.5624949336052, 196.5624949336052, 196.5624949336052, 1);
}.e102_212 { 
	width:201.65274047851562px;
	height:0px;
	position:absolute;
	left:954px;
	top:649px;
}.e102_213 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(251.00000023841858, 251.00000023841858, 253.0000001192093, 1);
	width:668px;
	height:937px;
	position:absolute;
	left:582px;
	top:21px;
	border-top-left-radius:83px;
	border-top-right-radius:83px;
	border-bottom-left-radius:83px;
	border-bottom-right-radius:83px;
}.102_213 { 
	border:1px solid rgba(0, 0, 0, 1)1px solid rgba(0, 0, 0, 1)1px solid rgba(0, 0, 0, 1)1px solid rgba(0, 0, 0, 1)1px solid rgba(0, 0, 0, 1)1px solid rgba(0, 0, 0, 1);
}.e111_5 { 
	width:123px;
	height:125px;
	position:absolute;
	left:858px;
	top:75px;
	background-image:url(images/r__2__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e102_502 { 
	background-color:rgba(250.00000029802322, 232.00000137090683, 6.000000117346644, 1);
	width:203px;
	height:58px;
	position:absolute;
	left:671px;
	top:530px;
	border-top-left-radius:16.423625946044922px;
	border-top-right-radius:16.423625946044922px;
	border-bottom-left-radius:16.423625946044922px;
	border-bottom-right-radius:16.423625946044922px;
}.e102_503 { 
	color:rgba(35.00000171363354, 31.000000052154064, 32.00000189244747, 1);
	width:88px;
	height:50px;
	position:absolute;
	left:57.5px;
	top:4px;
	font-family:Lato;
	text-align:left;
	font-size:32.847251892089844px;
	letter-spacing:0;
	line-height:px;
}.e172_1532 { 
	background-color:rgba(250.00000029802322, 232.00000137090683, 6.000000117346644, 1);
	width:203px;
	height:58px;
	position:absolute;
	left:937px;
	top:530px;
	border-top-left-radius:16.423625946044922px;
	border-top-right-radius:16.423625946044922px;
	border-bottom-left-radius:16.423625946044922px;
	border-bottom-right-radius:16.423625946044922px;
}.e172_1533 { 
	color:rgba(35.00000171363354, 31.000000052154064, 32.00000189244747, 1);
	width:111px;
	height:50px;
	position:absolute;
	left:46px;
	top:4px;
	font-family:Lato;
	text-align:left;
	font-size:32.847251892089844px;
	letter-spacing:0;
	line-height:px;
}.102_500 { 
	border:2.0529532432556152px solid rgba(196.5624949336052, 196.5624949336052, 196.5624949336052, 1);
}.e102_500 { 
	width:612px;
	height:60px;
	position:absolute;
	left:609px;
	top:409px;
	border-top-left-radius:16.423625946044922px;
	border-top-right-radius:16.423625946044922px;
	border-bottom-left-radius:16.423625946044922px;
	border-bottom-right-radius:16.423625946044922px;
}.e112_4 { 
	color:rgba(196.5624949336052, 196.5624949336052, 196.5624949336052, 1);
	width:85px;
	height:50px;
	position:absolute;
	left:32.847251892089844px;
	top:5px;
	font-family:Lato;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}.111_2 { 
	border:2.0529532432556152px solid rgba(196.5624949336052, 196.5624949336052, 196.5624949336052, 1);
}.e111_2 { 
	width:611px;
	height:60px;
	position:absolute;
	left:610px;
	top:230px;
	border-top-left-radius:16.423625946044922px;
	border-top-right-radius:16.423625946044922px;
	border-bottom-left-radius:16.423625946044922px;
	border-bottom-right-radius:16.423625946044922px;
}.e112_2 { 
	color:rgba(196.5624949336052, 196.5624949336052, 196.5624949336052, 1);
	width:146px;
	height:50px;
	position:absolute;
	left:32.847251892089844px;
	top:5px;
	font-family:Lato;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}.102_498 { 
	border:2.0529532432556152px solid rgba(196.5624949336052, 196.5624949336052, 196.5624949336052, 1);
}.e102_498 { 
	width:612px;
	height:60px;
	position:absolute;
	left:609px;
	top:322px;
	border-top-left-radius:16.423625946044922px;
	border-top-right-radius:16.423625946044922px;
	border-bottom-left-radius:16.423625946044922px;
	border-bottom-right-radius:16.423625946044922px;
}.e112_3 { 
	color:rgba(196.5624949336052, 196.5624949336052, 196.5624949336052, 1);
	width:85px;
	height:50px;
	position:absolute;
	left:32.847251892089844px;
	top:5px;
	font-family:Lato;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}.e172_1534 { 
	transform: rotate(-0.5968094512291771deg);
	width:576.03125px;
	height:0px;
	position:absolute;
	left:628px;
	top:645px;
}.172_1534 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e172_1535 { 
	color:rgba(0, 0, 0, 1);
	width:526px;
	height:50px;
	position:absolute;
	left:653px;
	top:676px;
	font-family:Lato;
	text-align:left;
	font-size:32.847251892089844px;
	letter-spacing:0;
	line-height:px;
}.e102_130 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:1728px;
	height:1116px;
	position:absolute;
	left:1685px;
	top:-1264px;
}.e1_7 { 
	width:1728px;
	height:52px;
	position:absolute;
	left:-1264px;
	top:-183px;
}.e15_74 { 
	width:1728px;
	height:109px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_4 { 
	background-color:rgba(250.00000029802322, 232.00000137090683, 6.000000117346644, 1);
	width:1728px;
	height:109px;
	position:absolute;
	left:0px;
	top:0px;
}.e102_497 { 
	color:rgba(36.00000165402889, 35.00000171363354, 49.00000087916851, 1);
	width:329px;
	height:128px;
	position:absolute;
	left:736px;
	top:224px;
	font-family:Lato;
	text-align:left;
	font-size:98.54175567626953px;
	letter-spacing:0;
	line-height:px;
}.e102_507 { 
	width:496px;
	height:24px;
	position:absolute;
	left:646.8472900390625px;
	top:687.3176879882812px;
}.e112_5 { 
	color:rgba(0, 0, 0, 1);
	width:391px;
	height:50px;
	position:absolute;
	left:15px;
	top:36px;
	font-family:Lato;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
	line-height:px;
}